.tabs {
  display: flex;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}

.tab {
  flex: 1;
  font-size: 0.6rem;
  background-color: var(--figma-color-bg-secondary);
  color: var(--figma-color-text);
  border: none;
  padding: 0.4rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.active {
  background-color: var(--figma-color-bg-brand);
  color: var(--figma-color-text-oninverse);
}
